p {
  font-family: Lato;
}
app-top-bar{
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
  height: 60px;
  background: #4285f4;
  color: white;
}
app-left-bar{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
background: red;
width: 200px;
}
.container{
  position: absolute;
  top: 60px;
  left: 200px;
  right: 0;
}
@media screen and (max-width: 500px){
  app-left-bar{
    display: none;
  }
  app-top-bar, .container {
    left: 0;
  }
}